@import "bootstrap-sprockets";
@import "bootstrap";

main {
   padding-top: 160px;
}
.nav navbar-nav {
  margin-left: 200px;
}
.background-color {
  background-size: auto;
  background-image: url("http://www.fietsenmaes.be/upload/editor/images/ebikekalkhoff1.jpg");
  background-repeat: no-repeat;
  height: 600px;
  width: auto;
  margin-left: 61px;
  margin-bottom: 100px;
 .backgroundcolor {
  background-size: auto;
  background-image: url("http://www.fietsenmaes.be/upload/editor/images/ebikekalkhoff1.jpg");
  background-repeat: no-repeat;
  // opacity:0,2;
  height: 600px;
  weight: 80px;
  margin-left: 61px;
}
.container {
  background-color: white;
  background-size: cover;
}
}
