// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  .content {
    position: relative;
    width: 500px;
    margin: 50px auto;

    padding: 20px;
    background: white;
    h1 {
      font-size: 40px;
      line-height: 50px;
    }
  }

  .summary{
  background: none;
  text-decoration: none;
  width: 300px;
  height: 350px;
  overflow: hidden;
  float: left;
  &:hover{
    background: none;
    text-decoration: none;
    h2, h3{
      color: black;
    }
  }
}
