// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.bg {

  width: 400px;
  height: auto;
  position: fixed;

}
.info_section {
  background-color: white;
  width: 500px;
  height: 300px;
}
  .content {
    position: relative;
    width: 500px;
    margin: 50px auto;

    padding: 20px;
    background: white;
    h1 {
      font-size: 40px;
      line-height: 50px;
    }
  }

  .summary{
  background: none;
  text-decoration: none;
  width: 300px;
  height: 350px;
  overflow: hidden;
  float: left;
  &:hover{
    background: none;
    text-decoration: none;
    h2, h3{
      color: black;
    }
  }
}
