<h1>Products</h1>

<% @products.each do |product| %>
    <!-- <p><%= product.title %></p> -->
    <p><%= link_to product.title, product_path( product.id ) %></p>

<% end %>

<br><br>
<hr>

<h4><%= link_to "Add new product", new_product_path %></h4>

<h4><%= link_to "Make a Booking", new_booking_path %></h4>
