<h1 class="title">Pricelist</h1>

</table>
<table class="table table-hover">
  <tr>
    <th>Period</th>
    <th>Price</th>
    <th>*Driver</th>

  </tr>
  <tr>
    <td>1 day</td>
    <td>10 EUR</td>
  </tr>
  <tr>
    <td>2 days</td>
    <td>15 EUR</td>
  </tr>
  <tr>
    <td>1 week</td>
    <td>25 EUR</td>
  </tr>
  <tr>
    <td>1 month</td>
    <td>80 EUR</td>
  </tr>

</table>

<p>*Some users also are available as a driver, this is optional and adds 15% to the rental fee</p>
